<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Create</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center my-5">Create New Contact</h1>
        <!-- TODO: Fill in the action for the form  -->
        <form method="post" action="">
            <!-- TODO: Make a form here  -->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-success">&nbsp;
            <!-- TODO: Fill in the href for the a tag -->
            <a href="{% url 'contact_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <div class="text-center my-5">
        &copy; 2023 Heer Shah
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>